body {
     background-image: url("empty-sea-beach-background.jpg");	
     background-repeat: no-repeat;
     background-size: 1500px;
}

h1 {
    color: yellow;
    text-align: center;


}


